p{
    text-align: center;
    font-style: italic;
    font-size: 25px;
    color: brown;
}
.SumTable{
    margin-left: 35%;
}
h3{
    text-align: center;
    color: rgb(124, 37, 37);
    font-style: italic;
}